<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Welcome!{% endblock %}</title>

  <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('logo.png') }}">
  <link rel="shortcut icon" href="{{ asset('logo.png') }}">

  {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
  {% endblock %}
</head>
<body class="bg-background text-foreground">

  <div class="container-fluid">
    <div class="row">
      <div class="col-auto p-0">
        {% if show_sidebar is not defined or show_sidebar %}
          {% include '_partial/sidebar.html.twig' %}
        {% endif %}

      </div>
      <div class="col ps-md-4 pt-4">
        {% block body %}{% endblock %}

        {% block footer %}
          <footer class="text-center py-4 text-muted small border-top border-secondary">
            © {{ "now"|date("Y") }} OnlySignals. {{ 'Tous droits réservés'|trans }}.
          </footer>
          {% endblock %}
      </div>
    </div>
  </div>

  {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
  {% endblock %}
</body>
</html>
