<div class="modal fade" id="editUserModal-{{ user.id }}" tabindex="-1" aria-labelledby="editUserModalLabel-{{ user.id }}" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content bg-card border border-secondary">
			{{ form_start(form) }}
            {% form_theme form 'bootstrap_5_layout.html.twig' %}
				<div class="modal-header">
					<h5 class="modal-title" id="editUserModalLabel-{{ user.id }}">
						<i class="bi bi-gear-fill me-2"></i> Gérer l'utilisateur : {{ user.username }}
					</h5>
					<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Fermer"></button>
				</div>
				<div class="modal-body">
					{{ form_row(form.email) }}
					{{ form_row(form.phone) }}
					{{ form_row(form.username) }}
					{{ form_row(form.stripeCustomerId) }}
					{{ form_row(form.enabled) }}
				</div>
				<div class="modal-footer border-0">
					<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Annuler</button>
					<button type="submit" class="btn btn-primary">Enregistrer</button>
				</div>
			{{ form_end(form) }}
		</div>
	</div>
</div>
