<div class="card bg-card text-light shadow-sm border-0">
  <div class="card-header bg-dark text-center py-4">
    <i class="bi bi-people text-purple fs-2 mb-3 d-block"></i>
    <h2 class="h4 mb-0">Gestion des Utilisateurs</h2>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table id="users-table" class="datatable table table-dark table-bordered table-hover align-middle mb-0">
        <thead>
          <tr>
            <th>ID</th>
            <th>{{"Email"|trans}}</th>
            <th>{{"Abonnement"|trans}}</th>
            <th>{{"Plan"|trans}}</th>
            <th>{{"Fin"|trans}}</th>
            <th>{{"Inscrit"|trans}}</th>
            <th>{{"Actions"|trans}}</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
            <tr>
              <td>{{ user.id }}</td>
              <td>{{ user.email }}</td>
              <td>
                {% if user.hasSignalAccess() %}
                  <span class="badge bg-success">{{"Abonné"|trans}}</span>
                {% else %}
                  <span class="badge bg-secondary">{{"Non abonné"|trans}}</span>
                {% endif %}
              </td>
              <td>
                  {% if user.hasActiveSubscription %}
                      {{ user.getActiveSubscription().getPrice() }} €
                  {% elseif user.hasLifetimeAccess %}
                      À vie
                  {% else %}
                      -
                  {% endif %}
              </td>

              <td>
                {% if user.getActiveSubscription() %}
                  {{ user.getActiveSubscription().getEnd()|date('d/m/Y') }}
                {% else %}
                  <span class="text-muted">N/A</span>
                {% endif %}
              </td>
              <td>{{ user.createdAt|date('d/m/Y') }}</td>
              <td class="text-end">
                <button class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#editUserModal-{{ user.id }}">
                  <i class="bi bi-gear-fill me-1"></i>
                  {{"Gérer"}}
                </button>
              </td>
            </tr>
          {% else %}
            <tr>
              <td colspan="7" class="text-center text-muted">{{"Aucun utilisateur trouvé"|trans}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>